{% extends 'base.html.twig' %}

{% block title %}Llistat d'equips{% endblock %}
{% block body %}
        <h1>Llistat d'equips</h1>
        <a href="{{ path('equip_new') }}">+ Nou equip</a>
        <br><br>
        {% for message in app.flashes('notice') %}
              <strong><i> {{ message }} </i></strong>
        {% endfor %}

          <table style="margin-top: 20px;margin-bottom: 10px;">
              <thead>
                  <tr>
                      <th>Usuari</th>
                  </tr>
              </thead>
              <tbody>
                  {% for equip in equips %}
                      <tr>
                          <td>{{ equip.getUsuari.Username }}</td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="5">No hi ha equip.</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>

          <br>

{% endblock %}