.battle{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border:7px groove black;
    max-width: 50em;
    min-width: 25em;
    max-height: 31em;
    min-height: 16em;
    background-image:url(../img/battlebacks/battlebgBosque.png);
    background-size: cover;
    image-rendering: pixelated;
}

body {
    background-color: rgb(4, 34, 43);
    background-image: url(../img/fondos/fondo_paginas2.png);
}

.textMenu{
    position:absolute;
    top:25.5em;
    left:0;
    width: 40em;
    height: 6em;
    background-color: antiquewhite;
    border: 7px black solid;
    font-weight: bold;
    text-align: center;
    vertical-align:middle;
    font-size: 20px;
}

@media all and (max-width: 820px) {
    .textMenu{
        width: 98%;
    }
}

@media all and (max-height: 648px) {

    #chat{
        max-height: 96%;
    }

    .battle{
        min-height: 20px;
    }
}

.health-bar {
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
}

.btn{
    background-color: orange;
    padding: 1px;
    color: black;
    border: 1px black solid;
    border-radius: 2%;
    text-decoration: none;

}

.health-bar[pos="jugador"]{
    bottom:50%;
    left:4%;
}

.health-bar[pos="enemic"]{
    top:25%;
    right:10%;
}

.bar {
background: rgb(79, 204, 68);
width: 100%;
height: 10px;
position: relative;

transition: width .5s linear;
}

.hit {
background: rgba(255,255,255,0.6);
position: absolute;
top: 0;
right: 0;
bottom: 0;
width: 0px;

transition: width .5s linear;
}

.nom{
    position: absolute;
    white-space: nowrap;
    background: var(--menu-font-color);
    color: #fff;
    font-size: 17px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
    z-index: 1;
}

.nom[pos="jugador"]{
    left: 4%;
    top: 40%;
}

.nom[pos="enemic"]{
    right: 21%;
    top: 20%;
}

.tipus{
    position: absolute;
    font-size: 12px;
    width: auto;
    padding: 2px;
    border-radius: 15%;
    z-index: 1;
}

.tipus[pos="jugador"]{
    left: 21%;
    top: 38%;
}

.tipus[pos="enemic"]{
    right: 10%;
    top: 18%;
}

.tipus[tipus="Planta"]{
    color: lime;
    background-color: darkgreen;
    border: 1px solid green;
}

.tipus[tipus="Fuego"]{
    color: red;
    background-color: yellow;
    border: 1px solid orange;
}

.tipus[tipus="Agua"]{
    color: cyan;
    background-color: darkblue;
    border: 1px solid blue;
}

.tipus{
    color: black;
    background-color: lightgray;
    border: 1px solid gray;
}

.battle_hero, .battle_enemy{
    position: absolute;
    transform: scale(2);
    width: 200px;
    height: auto;
    overflow: hidden;
}

.battle_hero img, .battle_enemy img{
    pointer-events: none;
}

.battle_hero{
    bottom: 75px;
    left: 70px;
}

.battle_enemy{
    top: 200px;
    right: -40px;
    
}

.battle_enemy img{
    width: 100px;
    animation: idle 1.5s infinite;
}

.battle_hero img{
    animation: idle2 2s infinite;
}

.textMenu{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.moviment{
    border: 2px solid black;
    height: 50px;
    width: 150px;
    font-weight: bold;
    font-size: 17px;
    background-color: orange;
    border-radius: 15%;
}

.moviment:hover{
    background-color: orangered;
}

.moviment:active{
    background-color: yellow;
}

.animation{
    pointer-events: none;
    width:200px;
    height: 160px;
    overflow: hidden;
    position: absolute;
    top: 35%;
    right: 10%;
    z-index: 1;
}

.animationE{
    pointer-events: none;
    width:200px;
    height: 160px;
    overflow: hidden;
    position: absolute;
    top: 60%;
    right: 70%;
    z-index: 1;
}

.attack_animation, .attack_animationE{
    animation: moveAttack 1s steps(5) infinite;
}

#chat{
    width: 29em;
    top:0;
    height: 38em;
    background-color: blanchedalmond;
    padding: 15px;
    border-radius: 5px;
    border: 2px black solid;
    position: absolute;
    left: 51em;
}

#chat #messages{
color: white;
background-color: black;
border-radius: 1%;
border: 1px brown solid;
opacity: 40%;
overflow-y: scroll; 
overflow-wrap: break-word;
word-wrap: break-word;
width: 100%;
height: 90%;
margin-top: 6px;

}

@keyframes moveAttack{
    from {
        transform: translate3d(0px,0,0);
    }
    to {
        transform: translate3d(-100%,0,0);
    }
}

@keyframes idle{
    0%{transform: translateY(0px);}
    50%{transform: translateY(5%);}
    100%{transform: translateY(0px);}
}

@keyframes idle2{
    0%{transform: translateX(0px);}
    50%{transform: translateX(5%);}
    100%{transform: translateX(0px);}
}