body {
    background-image: url("../img/fondos/fondo_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-position-y: 0em;
}

.padre_emailChangePassword {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container {
    background-color: rgb(21, 63, 71);
    border: solid rgb(65, 154, 172);
    border-radius: 2%;
    max-width: 25em;
    opacity: 0.9;
}

.div_emailChangePassword {
    margin-right: 20px;
    margin-left: 20px;
}

#logo_emailChangePassword {
    max-width: 80%;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.div_email_emailChangePassword {
    margin-top: 20px;
    margin-bottom: 10px;
}

.div_repeatEmail_emailChangePassword {
    margin-bottom: 10px;
}

.div_emailChangePassword label, .div_emailChangePassword p {
    color: white;
}

.div_emailChangePassword a {
    color: rgb(36, 202, 235);
}

.div_email_emailChangePassword input, .div_repeatEmail_emailChangePassword input {
    margin-bottom: 5px;
}

.div_emailChangePassword input[type="email"] {
    background-color: rgb(13, 44, 49);
    color: white;
    border-color: rgb(65, 154, 172);
    opacity: 0.8;
}

.div_emailChangePassword input[type="email"]:focus {
    background-color: rgb(13, 44, 49);
    color: white;
}

.div_emailChangePassword button[type="submit"] {
    width: 100%;
    background-color: rgb(35, 119, 136);
    border: 1px solid rgb(13, 44, 49);
    margin-bottom: 10px;
}