body {
    background-image: url("../img/fondos/login1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-position-y: 0em;
}

.padre_login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(21, 63, 71);
    border: solid rgb(65, 154, 172);
    border-radius: 2%;
    max-width: 25em;
    opacity: 0.9;
}

.div_login {
    margin-right: 20px;
    margin-left: 20px;
}

#logo_login {
    max-width: 100%;
    display:block;
    margin:auto;
    margin-top: 10px;
}

.div_username_login {
    margin-top: 20px;
    margin-bottom: 10px;
}

.div_password_login {
    position: relative;
    margin-bottom: 5px;
}

.div_login label, .div_login p {
    color: white;
}

.div_login a {
    color: rgb(36, 202, 235);
}

.div_username_login input, .div_password_login input {
    margin-bottom: 5px;
}

.div_login input[type="text"], .div_login input[type="password"] {
    background-color: rgb(13, 44, 49);
    color: white;
    border-color: rgb(65, 154, 172);
    opacity: 0.8;
}

.div_login input[type="text"]:focus, .div_login input[type="password"]:focus {
    background-color: rgb(13, 44, 49);
    color: white;
}

svg {
    color: rgb(25, 159, 185);
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    left: unset;
    right: 12px;
}

.div_login button[type="submit"] {
    width: 100%;
    background-color: rgb(35, 119, 136);
    border: 1px solid rgb(13, 44, 49);
    margin-bottom: 10px;
}