* {
    font-family: "Roboto Condensed", sans-serif;
}

nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgb(4, 20, 26);
}

.menu {
    list-style-type: none;
}

.logo_navbar {
    max-width: 10em;
}

.item {
    background-color: rgb(4, 20, 26);
}

.menu a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.menu li {
  font-size: 1em;
  padding: 15px 5px;
  white-space: nowrap;
}

.menu li svg {
  color: #006d6d;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.button a {
  color: teal;
}

.toggle {
  order: 1;
}

.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.active {
  display: block;
}

/* Tablet menu */
@media all and (min-width: 600px) {
  .menu {
    justify-content: center;
  }

  .button a {
    color: white;
  }

  .logo {
    flex: 1;
  }

  .toggle {
    flex: 1;
    text-align: right;
  }

  .button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    order: 2;
  }

  .secondary {
    border: 0;
  }

  .button a {
    padding: 7.5px 15px;
    background: transparent;
    border: 1px #006d6d solid;
  }

  .secondary a {
    background: teal;
  }

  .button a:hover {
    text-decoration: none;
  }

  .button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
  }
  
  .secondary a:hover {
    background: transparent;
    border: 1px #006d6d solid;
  }
}
/* Desktop menu */
@media all and (min-width: 900px) {
  .item {
    display: block;
    width: auto;
  }
  
  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .button {
    padding-right: 0;
  }
}