body {
    background-color: rgb(4, 34, 43);
    background-image: url(../img/fondos/principal6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.padre_pregame {
    margin-top: 10em;
    margin-bottom: 5em;
    border: 4px solid #006c97;
    border-radius: 20px;
    background-color: rgb(0, 177, 177);
    background-image: url(../img/fondos/weadex.png);
    height: 100%;
    margin-right: 5vw;
    margin-left: 5vw;
}

.principal_pregame {
    background-color: rgb(4, 34, 43);
    margin: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    border: 4px solid #006c97;
    background-image: url(../img/fondos/weadex2.png);
}

.equipos_pregame {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 34em;
    height: 34em;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}