{% extends 'base.html.twig' %}
{% block title %}Backoffice{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
{{ include('navbaradmin.html.twig') }}
<div style="margin-top: 200px">
<h1>Benvingut al backoffice!</h1>
<p><b>Weamons: </b>Aquí pots afegir nous weamons i afegir-lis moviments o modificar-ne de existents!</p>
<p><b>Moviments: </b>Aquí pots crear nous moviments o modificar-ne de existents!</p>
<p><b>Equips: </b>Aquí pots crear nous equips a cualsevol usuari o modificar-ne de existents i afegir weamons als equips!</p>
<p><b>Historial: </b>Aquí pots revisar les victories i les derrotes dels usuaris i eliminar-les.</p>
<p><b>Usuaris: </b>Aquí pots afegir nous usuaris a la web o modificar-ne de existents!</p>
<p><b>Tipus: </b>Aquí pots afegir nous tipus a la web o modificar-ne de existents!</p>
</div>
{% endblock %}