<!DOCTYPE html>
<html lang="es-ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome!</title>
          <!-- Bootstrap -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
              crossorigin="anonymous"></script>
              <link href="./css/navbar.css" type="text/css" rel="stylesheet" />
              <link href="./css/principal.css" type="text/css" rel="stylesheet" />
              <script src="./javascript/animado.js"></script>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div>
            <nav>
                <ul class="menu">
                    <li class="logo"><a href="#" class="logo_navbar"><img class="img-fluid logo_navbar" src="./img/fondos/logo8.png"></a></li>
                    <li class="item item_link"><a href="#">HOME</a></li>
                    <li class="item item_link"><a href="#">PERFIL</a></li>
                    <li class="item item_link"><a href="#">COMBATIR</a></li>
                    <li class="item item_link"><a href="#">WEADEX</a></li>
                    </li>
                    <li class="item button"><a href="#">Log In</a></li>
                    <li class="item button secondary"><a href="#">Sign Up</a></li>
                    <li class="toggle"><a href="#"><i class="fas fa-bars"></i>aaaa</a></li>
                </ul>
            </nav>
        </div>





        <div class="inicio_principal">
            <img class="img-fluid logo_principal" src="./img/fondos/logo7.png">
        </div>
        
        <div class="separarador_principal">
            
        </div>

        <div class="cuentas_principal">
            <div class="div_imagen_principal animado_arriba_principal">
                <img class="" src="./img/fondos/fondoprincipal9.jpg">
            </div>

            <div class="div_texto_principal animado_abajo_principal">
                <h2 class="titulo_principal">Crea una <a class="resaltar_titulo_principal">cuenta</a></h2>
                <p class="texto_principal">Crea una cuenta para poder hacer seguimiento de tu perfil y poder combatir contra otros jugadores!</p>
                <p class="texto_principal">Podràs pagar una suma de 5 € para poder hacerte VIP y poder disfrutar de los raros y unicos Weamons shinies.</p>
                <button class="btn btn-primary botones_principal">Crear cuenta <svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg> </button>
            </div>
        </div>

        <div class="combates_principal">
            <div class="div_texto_principal animado_arriba_principal">
                <h2 class="titulo_principal">Combate vs otros <a class="resaltar_titulo_principal">Weamons</a></h2>
                <p class="texto_principal">Combate con tu equipo de Weamons contra el equipo contrario en un combate por turnos épico.</p>
                <p class="texto_principal">Tu tarea es llegar hasta lo mas alto en la clasificación de jugadores para llegar a ser el mejor.</p>
                <button class="btn btn-primary botones_principal">Crear cuenta <svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg> </button>
            </div>

            <div class="div_imagen_principal animado_abajo_principal">
                <img class="" src="./img/fondos/principal1.jpg">
            </div>
        </div>

        <div class="weadex_principal">
            <div class="div_imagen_principal animado_arriba_principal">
                <img class="" src="./img/fondos/fondoprincipal9.jpg">
            </div>

            <div class="div_texto_principal animado_abajo_principal">
                <h2 class="titulo_principal">Explora tus Weamons en la <a class="resaltar_titulo_principal">Weadex</a></h2>
                <p class="texto_principal">Explora en nuestra Weadex las estadisticas, tipos, debilidades y movimientos unicos de toda nuestra variedad de Weamons diferentes y unicos para reclutarlos para tus equipos para tus batallas legendarias.</p>
                <button class="btn btn-primary botones_principal">Crear cuenta <svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg> </button>
            </div>
        </div>

        <div class="relleno"></div>
        <div class="relleno"></div>
        <div class="relleno"></div>
        <div class="relleno"></div>

    </body>
</html>
