{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/principal.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div class="inicio_principal">
        <img class="img-fluid logo_principal" src="{{ asset('./img/fondos/logo8.png') }}">
    </div>
    <div class="prueba">
        <h1>WEAMON FRONTIERS</h1>
        <div class="p1">
            <div class="p2">
                <p style="color: white;">Aliqua commodo adipisicing esse pariatur laborum elit exercitation reprehenderit proident. Amet tempor dolore irure velit fugiat anim occaecat esse enim dolor. Anim eu irure et esse elit. Est laboris elit culpa anim qui cillum eu duis proident ea qui proident aute aliqua.

                Minim aute ea aliqua aute consequat. Laborum excepteur ut nulla et laboris est occaecat aute ea. Magna elit cupidatat mollit qui qui minim eiusmod mollit aute tempor est adipisicing ex.

                Aliquip do consequat fugiat sit enim dolore in occaecat. Nisi voluptate ipsum tempor ut sunt aliquip quis tempor in officia exercitation. Enim est nisi consectetur incididunt in deserunt nisi. Eiusmod deserunt nisi sit fugiat occaecat do. Pariatur cupidatat elit minim tempor mollit. Velit nostrud excepteur mollit do pariatur nulla excepteur nisi.

                Duis ut aute sit minim magna. Eu fugiat anim officia tempor esse. Ut aliqua aliqua non id velit ipsum adipisicing occaecat ad aliqua duis ut sint exercitation. Mollit consectetur aliquip laborum aliquip nisi sit et est cillum aliqua. Laboris cillum aliqua mollit ipsum. Eiusmod adipisicing sit veniam cupidatat incididunt.</p>
            </div>
            <div class="vacio">
                
            </div>
            <div class="vacio">
                <p style="color: white;">Aliqua commodo adipisicing esse pariatur laborum elit exercitation reprehenderit proident. Amet tempor dolore irure velit fugiat anim occaecat esse enim dolor. Anim eu irure et esse elit. Est laboris elit culpa anim qui cillum eu duis proident ea qui proident aute aliqua.

                    Minim aute ea aliqua aute consequat. Laborum excepteur ut nulla et laboris est occaecat aute ea. Magna elit cupidatat mollit qui qui minim eiusmod mollit aute tempor est adipisicing ex.

                    Aliquip do consequat fugiat sit enim dolore in occaecat. Nisi voluptate ipsum tempor ut sunt aliquip quis tempor in officia exercitation. Enim est nisi consectetur incididunt in deserunt nisi. Eiusmod deserunt nisi sit fugiat occaecat do. Pariatur cupidatat elit minim tempor mollit. Velit nostrud excepteur mollit do pariatur nulla excepteur nisi.

                    Duis ut aute sit minim magna. Eu fugiat anim officia tempor esse. Ut aliqua aliqua non id velit ipsum adipisicing occaecat ad aliqua duis ut sint exercitation. Mollit consectetur aliquip laborum aliquip nisi sit et est cillum aliqua. Laboris cillum aliqua mollit ipsum. Eiusmod adipisicing sit veniam cupidatat incididunt.</p>
            </div>
            <div class="p3">
            </div>
        </div>
    </div>
    <div class="relleno"></div>
    <div class="relleno"></div>
    <div class="relleno"></div>
    <div class="relleno"></div>
{% endblock %}
