{% block body %}
    {% apply inky_to_html|inline_css("{{ asset('css/principal.css') }}") %}
        <container>
            <button class="btn btn-primary botones_principal" href="http://localhost/M14/WeamonsFrontier/public/index.php/pruebas/weadex">Crear cuenta</button>
        </container>
    {% endapply %}
{% endblock %}