{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/weadex.css') }}" type="text/css" rel="stylesheet" />
    <script src="{{ asset('javascript/animado.js') }}"></script>
{% endblock %}
{% block body %}
    {{ include('navbar.html.twig') }}
    <div class="weamons_weadex">
        <!--% for bakugan in bakugans %}-->
            <div class="weamon_weadex">
                <!--<img a src="{ asset ('img/uploads/' ~ bakugan.imagen) }}" class="img-fluid">-->
            </div>
        <!--% endfor %}-->
        <div class="weamon_weadex"></div>
        <div class="weamon_weadex"></div>
    </div>
    <div class="relleno"></div>
    <div class="relleno"></div>
    <div class="relleno"></div>
    <div class="relleno"></div>
{% endblock %}
